<link rel="stylesheet" href="/static/style.css">
<header class="header-image2">
  <div class="main-div-reg">
    <div class="left-reg">
      <h2>Client Profile</h2>
      <label for="FullName" id="cfname" class="db-input">Full Name</label>
      <p style="color:white;"> name </p>
      <label for="address" id="cadd1" class="db-input">Address 1</label>
      <p style="color:white;"> add1 </p>
      <label for="address-2" id="cadd2" class="db-input">Address 2</label>
      <p style="color:white;"> add2 </p>
      <label for="city" id="ccity" class="db-input">City</label>
      <p style="color:white;"> city </p>
      <label for="state" id="cstate" class="db-input">State:</label>
      <p style="color:white;"> state </p>
      <label for="zipcode" id="czip" class="db-input">Zip Code</label>
      <p style="color:white;"> zip </p>
    </div>
    <!-- <div class="left-reg-client"></div> -->
    <div class="right-reg">
      <h2>Client Profile Management</h2>
      <form action="" method="POST">
       <label for="FullName" >Full Name</label>
      <input type="text" id="FullName" name="FullName" placeholder="Full Name" maxlength="50" required>

      <label for="address">Address 1</label>
    <input type="text" id="address" name="address" placeholder="Address 1" maxlength="100" required>

    <label for="address-2">Address 2</label>
    <input type="text" id="address-2" name="address-2" placeholder="Address 2" maxlength="100">

    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="City" maxlength="100" required>

    <label for="state">Select Your State:</label>
    <select name="state" id="state">
      <option value="no-opt">Pick Your State:</option>
      <option value="TX">TX</option>
      <option value="ND">ND</option>
      <option value="NM">NM</option>
      <option value="CO">CO</option>
      <option value="AK">AK</option>
    </select>

     <label for="zipcode">Zip Code</label>
     <input id="zipcode" name="zipcode" type="text" pattern="[0-9]*" maxlength="10" required>
     
     <input type="submit" value="Update Info" class="submitbtn-reg">
            <div class="error_msg">Error! msg</div>
            <div class="success_msg">Success msg</div>

      </form>
      <div class="space-reg">
        <!-- <p>OR</p> -->
      </div>
      <div class="create-reg">
        <!-- <p> have an Account Already?</p> -->
      <!-- <a href="login.html">Sign In</a> -->
      <a href="/" class="back-reg">Go Back</a>
      </div>
    </div>
  </div>
</header>
